
.itemDetailContainer{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    .itemContainer{
        margin-top: 30px;
        width: 70%;
        border: 1px solid blue;
        .item_nav{
            display: flex;
            justify-content: center;
            border: 1px solid red;
            div{
                margin-left: 5px;
                color: #3f3f3f;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 12px;
                a{
                    text-decoration: none;
                    color: #3f3f3f;
                }
            }

        }
        .item_description{
            display: flex;
            height: auto;
            justify-content: space-between;
            .item_description_img_container{
                display: flex;
                flex-direction: column;
                width: 50%;

                .item_description_img{
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
                .item_description_galeria{
                    display: flex;
                    flex-direction: row;
                    .item_description_galeria_images{
                        width: 30%;
                        margin-top: 20px;
                        margin-right: 20px;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .item_description_desc_container{
                padding: 10px;
                width: 50%;
            }
        }
    }

}