
.SlideShow_div{
    background-color: white;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .SlideShow_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100vw;
        z-index: 50;
        @media (max-width: 1200px) {
            width: 100vw;
        }
        div{
            width: 100%;
            div{
                width: 100%;
                // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
                a{
                    img{
                        object-fit: fill;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}